* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: hsl(216, 12%, 8%);
  color: white;
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: hsl(213, 19%, 18%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 335px;
  padding: 30px 20px;
  border-radius: 15px;
  gap: 25px;
}

p {
  color: hsl(216, 12%, 54%);
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.4rem;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.common {
  background-color: rgba(124, 135, 152, 0.3);
  border-radius: 50%;
  height: 34px;
  width: 34px;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: hsl(25, 97%, 53%);
  color: white;
  padding-block: 13px;
  border: none;
  border-radius: 40px;
  width: 100%;
  margin-top: 20px;
  font-family: "Overpass", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}
.btn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}
.common:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}

.thankyou-card {
  position: absolute;
  inset: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  align-items: center;
  text-align: center;
  gap: 15px;
  transform: rotateY(180deg);
}
.thankyou-card p {
  font-size: 14px;
}
.feedback p {
  background-color: rgba(124, 135, 152, 0.3);
  color: hsl(25, 97%, 53%);
  border-radius: 15px;
  padding: 2px 10px;
  font-size: 12px;
}
.flip-card {
  perspective: 1000px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-inner {
  position: relative;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}
@media (min-width: 640px) {
  .card {
    min-width: 330px;
  }
  p {
    font-size: 13px;
  }
  .thankyou-card p {
    font-size: 13px;
  }
}
